<div class="small-box gradient-purple" fxFlex="20">
  <div class="inner">
    <a routerLink="/branchrequest">
      <h3>درخواست شعبه</h3>
      <p>ایجاد درخواست تسهیلات</p>
    </a>
  </div>
  <div class="icon">
    <mat-icon class="menu-icon">business</mat-icon>
  </div>
</div>

<div class="small-box gradient-purple" fxFlex="20">
  <div class="inner">
    <a routerLink="/branchrequest">
      <h3>درخواست شعبه</h3>
      <p>ایجاد درخواست تسهیلات</p>
    </a>
  </div>
  <div class="icon">
    <mat-icon class="menu-icon">business</mat-icon>
  </div>
</div>
<div class="small-box gradient-purple" fxFlex="20">
  <div class="inner">
    <a routerLink="/branchrequest">
      <h3>درخواست شعبه</h3>
      <p>ایجاد درخواست تسهیلات</p>
    </a>
  </div>
  <div class="icon">
    <mat-icon class="menu-icon">business</mat-icon>
  </div>
</div>
<div class="small-box gradient-purple" fxFlex="20">
  <div class="inner">
    <a routerLink="/branchrequest">
      <h3>درخواست شعبه</h3>
      <p>ایجاد درخواست تسهیلات</p>
    </a>
  </div>
  <div class="icon">
    <mat-icon class="menu-icon">business</mat-icon>
  </div>
</div>
