<header>
  <mat-toolbar color="primary" class="app-toolbar">
    <div class="app-name">
      <button mat-icon-button (click)="toggleSidenav()" class="menu-switch-btn">
        <mat-icon>menu</mat-icon>
      </button>
      <h1 translate>APP_NAME</h1>
    </div>

    <div class="header-nav">
      <div data-turbolinks="false">
        <div class="user-thumbnail">
          <img src="../../../assets/images/icon/person-icon.png" />
        </div>
        <p class="user-name">
          کاربر <br />
          مهمان
        </p>
      </div>
    </div>
  </mat-toolbar>
</header>
