<div class="container-fluid no-padding">
  <div class="jumbotron text-center">
    <div class="message">
      <h4 translate>welcome_message</h4>
      <p class="welcome-message">
        سامانه تسهیلات این امکان را مهیا می کند که همواره اطلاعات جامعی از وضعیت تسهیلات دریافتی به راحتی در دسترس باشد.
        اطلاعاتی مانند مشاهده مانده اصل و بهره تسهیلات دریافتی با ارائه گزارش‌ها و آلارم‌های لازم ریسک عدم پرداخت به
        موقع اقساط را کاهش می‌دهد به این ترتیب با انواع گزارش های متنوع ، سختی کار را برای کاربر کاهش می‌دهد.
      </p>
    </div>
    <span class="shape"></span>
    <span class="shape"></span>
    <span class="shape"></span>
    <span class="shape"></span>
    <span class="shape"></span>
    <div class="los-logo"></div>
  </div>
  <div class="shortcut-links-wrapper">
    <short-cut-menu fxLayout="row"></short-cut-menu>
  </div>

  <!--    <mat-form-field>
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>-->
</div>
